*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #071113;
    color: #fff;
    overflow-x: hidden;
}

/* header */
.header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #071113;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

#menu-btn{
    font-size: 3rem;
    display: none;
}

.logo{
    font-size: 25px;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbutton a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
.navbutton a:hover, .navbutton a.active{
    color: rgb(124, 102, 0);
    
}


/* main */
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.text{
    /* font-size: 25px; */
    max-width: 600px;
}
.text h3{
    font-size: 32px;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.text h3:nth-last-of-type(1) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.text h3 span{
    color: rgb(124, 102, 0);
    
}
.text h1{
    font-size: 50px;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.text p{
    line-height: 1.5rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.social-profile a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(124, 102, 0);
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(124, 102, 0);
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
.social-profile a:hover{
    background: rgb(31, 92, 16);
    box-shadow: 0 0 20px rgb(113, 236, 160);
}
.button{
    display: inline-block;
    background: rgb(124, 102, 0);
    padding: 20px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.button:hover{
    box-shadow: 0 0 20px grey;
    transition: .5s ease;
}


.image img{
    width: 350px;
    border-radius: 200px;
    opacity: 0;
    animation: zoomIn 1s ease forwards /*zoomin image animation*/, floatImage 4s ease-in-out infinite /* floating image animation*/;
    animation-delay: 1.5s, 3s /*float delay*/;
}

/* ABOUT */
.about{
    box-shadow: 1px 1px 5px 1px #fff;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
}
.about-img{
    flex-basis: 50%;
    margin: auto;
}
.about-img img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    /* animation: slideRight 1s ease forwards;
    animation-delay: .7s; */
}
.about-content{
    /* animation: slideLeft 1s ease forwards;
    animation-delay: .7s; */
    flex-basis: 50%;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    text-align: center;
}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1rem;
    line-height: 2rem;
    margin: 2rem 0 3rem;
}
.heading{
    font-size: 3.5rem;
}


/* SERVICES */
.services{
    padding: 10px 10% 20px;
}
.services h2{
    margin-bottom: 5rem;
    text-align: center;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: #0b1a1b;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #071113;
    cursor: pointer;
    transition: .5s ease;
}
.services-container .services-box:hover{
    border-color:aqua;
    transform: scale(1.02);
}
.services-box i{
    font-size: 7rem;
    color: rgb(124, 102, 0);
}
.services-box h3{
    font-size: 2rem;
}
.services-box p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0 3rem;
}

/* portfolio styling */
.portfolio{
    box-shadow: 1px 1px 5px 1px #fff;
    padding: 0px 5% 70px;
}
.portfolio h2{
    margin: 4rem;
    text-align: center;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: none;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    /* transition effect for hover zoom */
    transition: .5s ease;
}
.portfolio-box:hover img{
    /* zoom img on hover */
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),#0b1a1b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    /* hide .portfolio-layer  */
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    /* show .portfolio-layer on hover */
    transform: translateY(0);

}

.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: rgb(124, 102, 0);
    border-radius: 50%;
    text-decoration: none;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: #000;
}


/* Contact Area */
.contact h2{
    margin-bottom: 3rem;
    text-align: center;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 90%;
    padding: 1.5rem;
    color: #1d7b81;
    background: #000;
    border-radius: .8rem;
    margin: .7rem .2rem;
    border: 0;
}

/* break into table display */
.contact form .input-box input{
    width: 46%;
}

textarea{
    resize: none;
}
.contact form .button{
    margin-top: 2rem;
    cursor: pointer;
    border: 0;
}


/* footer */
.footer{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    padding: .5rem;
    background: grey;
    text-align: center;
}
.footer-text{
    font-size: 1rem;
}
.home-btn{
    padding: .4rem;
    background: #fff;
    border-radius: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.home-btn a i{
    font-size: 1.8rem;
    color: rgb(124, 102, 0);
}




/* Responsiveness */
/* @media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}


@media (max-width: 768px){
    #menu-btn{
        display: block;
    }

    .navbutton{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #071113;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbutton.active{
        display: block;
    }

    .navbutton a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
} */


@media screen and (max-width: 770px){
    /* nav */
    #home{
        margin-bottom: 2.5rem;
    }

    #menu-btn{
        display: block;
        font-size: 2rem;
    }

    .navbutton{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #071113;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbutton.active{
        display: block;
    }

    .navbutton a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


    /* hero section */
    .logo{
        font-size: 10px;
        cursor: default;
        color: rgb(124, 102, 0);
    }
    .navbutton{
        /* display: none; */
    }
    .main{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 450px;
    }
    .text{
        margin-bottom: 80px;
    }
    .text h3{
        font-size: 29px;
    }
    .text p{
        font-size: 15px;
    }
    .text h1{
        font-size: 36px;
    }
    
    /* up button */
    .home-btn{
        opacity: 1;
        z-index: 100;
    }

    /* about */
    .about{
        display: block;
        text-align: center;
    }
    .about-content h2{
        text-align: center;
    }
    .about-img img{
        display: none;
    }


    /* projects section */
    .portfolio-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 2rem;
    }
    .portfolio-box{
        margin-bottom: 2rem;
    }

    /* form */
    .contact form .input-box input{
        width: 70%;
    }
    .contact form textarea{
        margin-left: 20px;
        margin-right: 20px;
    } 


}

/* keyframe animations */
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}